@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);

:root {
    --space1: 16px;
    --space2: 24px;
    --space3: 36px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Nunito;
}

.thumbnail {
	padding: 0;
}

.thumbnail img {
	width: 100%;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
    display: inline;
}

.navbar-avatar {
	width: 2.5rem;
	height: 2.5rem;
	margin-left:  0.5rem;
	margin-top:  -0.7rem;
	margin-bottom:  -0.7rem;
	border-radius: 50%;
}

.index-img {
	position:absolute;
	top:-100%;
	bottom: -100%;
	left:0;
	right: 0;
	width: 100%;
	margin: auto
}

.empty-map {
	padding: 20% 0;
	background-color: #ede8dd;
	font-size: 7rem;
	color: #505050;
}

.new-ui-button {
	border-radius:1em;
	background-color:var(--info); 
	color:var(--dark) !important;
	margin-left: 1.5rem;
}

.pictures-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    column-gap: var(--space2);
    row-gap: var(--space2);
    margin-bottom: var(--space3);
}

.pictures-grid > div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    
}

.pictures-grid > div > img {
    inline-size: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}
