
.thumbnail {
	padding: 0;
}

.thumbnail img {
	width: 100%;
}

.thumbnail .caption-full {
	padding: 9px;
}

.delete-form {
    display: inline;
}

.navbar-avatar {
	width: 2.5rem;
	height: 2.5rem;
	margin-left:  0.5rem;
	margin-top:  -0.7rem;
	margin-bottom:  -0.7rem;
	border-radius: 50%;
}

.empty-map {
	padding: 20% 0;
	background-color: #ede8dd;
	font-size: 7rem;
	color: #505050;
}
